@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #051821;
    color: #FFFFFF;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond avec transparence */
    z-index: 2; /* Assure que le header est au-dessus des autres éléments */

}

header menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

header menu li {
    display: flex;
    text-transform: uppercase;
    font-size: 1.7em;
    margin: 0 10px;
    font-family: 'Oswald', sans-serif;

}

header menu li:hover {
    text-decoration: none;
    color: #209cd5;
    cursor: pointer;
}

#highlightedMovie {
    position: relative;
    width: 100%;
    padding-top: 13vh;
    padding-bottom: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: visible;
    background-image: url('../images/avatar-bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#highlightedMovie_title {
    display: flex;
    width: 80%;
    align-content: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 2em;
    padding: 0;
    margin-top: 40px;
}

#highlightedMovie_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 5%;
    width: 100%;
}

#highlightedMovie_img {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 40vh;
    margin-left: 8%;
}

#highlightedMovie_img > img {
    border-radius: 8px;
}

#highlightedMovie_img > img:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


#highlightedMovie_infos {
    width: 62%;
    background-color: rgb(0 0 0 / 30%);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    max-width: 1500px;
}

#highlightedMovie_infos > h2 {
    display: flex;
    flex-direction: column;
    font-family: Oswald, sans-serif;
    font-size: 3em;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;

}

#highlightedMovie_infos > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-overflow: ellipsis;
    margin-left: 1vw

}

#highlightedMovie_infos > div > h6 {
    display: flex;
    padding-left: 1vw;
    font-family: Oswald, sans-serif;
    font-size: 1.1em;
    min-width: 10%;
    text-overflow: ellipsis;
    margin: 0;
}

#highlightedMovie_score {
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    color: black;
    padding: 3px 8px 3px 8px;
    border-radius: 4px;
    background-color: #f4c519;
}

#highlightedMovie_infos > p {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    text-overflow: ellipsis;
    margin: 10px;


}

#highlightedMovie_infos > div:nth-child(7) {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 55%;
    margin-top: -5%;
    min-height: 12vh;
}

#addToList_button {
    color: black;
    background-color: rgb(255, 255, 255, 0.6);
    height: 50px;
    width: 180px;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    padding: 0;
    margin: 20px;
    font-size: inherit;
}

#addToList_button:hover {
    background-color: rgb(90, 175, 148, 1);
    cursor: pointer;
}

#more_button {
    color: black;
    background-color: rgb(255, 255, 255, 0.6);
    height: 50px;
    width: 160px;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    padding: 0;
    margin: 20px;
    font-size: inherit;
}

#more_button:hover {
    background-color: rgb(255 255 255 / 1);
    cursor: pointer;
}

.movie {
    width: 240px;
    display: inline-block;
    position: relative;
    color: white;
    padding: 0 2px;
    font-size: 0.8rem;
    transition: all 0.8s ease-in-out;
    transform-origin: center center;
}
.movie > p.movie_id {
    display: none;
}

.movie:hover {
    transform: scale(1.05);
    z-index: 2;
    transition: all 0.6s ease-out;
}

.movie img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: filter 0.6s ease-out;
}

.movie:hover > img {
    filter: brightness(40%);
}

.movie > .movie_title {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    border-radius: 5px;
}

.movie:hover .movie_title {
    display: block;
    z-index: 10;
}


.carousel_section {
    background: rgb(9, 41, 56);
    background: linear-gradient(0deg, rgba(9, 41, 56, 0) 0%, rgba(13, 62, 85, 1) 50%, rgba(13, 62, 85, 0) 100%);
}

.section-title {
    display: flex;
    font-family: sans-serif;
    font-size: 2em;
    padding-left: 2vw;

}

.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 10px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
}

.carousel {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-width: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.slider {
    width: 70%;
    overflow-x: hidden;

    overflow-y: visible;
    white-space: nowrap;
    padding-top: 20px;
    padding-bottom: 20px;
}


.carousel-item {
    display: inline-block;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 0 5%;
    height: 320px;
    width: 240px;
    margin: 15px;

}

.carousel-item:hover {
    cursor: pointer;
    filter: drop-shadow(8px 16px 10px rgba(0, 129, 204, 0.4));
    transform: scale(1.2);
    transition: 0.4s ease-out;

}

.overlay h6 {
    padding: 5px 5px;
    white-space: normal;
    background-color: transparent;
    pointer-events: none;
    font-family: sans-serif;

}

.carousel-item .overlay {
    position: absolute;
    top: 10px;
    max-width: 100%;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 0;
    pointer-events: none;
}

.buttons {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
}

.carousel-item:hover .overlay {
    opacity: 1;
    z-index: 2;
    cursor: pointer;
    transition: filter 0.4s ease-out;
}


.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}

.carousel-item img:hover {
    filter: brightness(40%);
    transition: filter 0.4s ease-out;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    bottom: 50%;
    font-size: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 999;
}

.carousel-prev {
    transition: background-color 0.4s ease-out;
    height: 70px;
    width: 70px;
    border-radius: 35px;
    left: 0;
    margin-left: 2vw;
    font-weight: bold;
    color: #FFFFFF;
}

.carousel-prev:hover {
    background-color: rgb(0 129 204 / 0.7);
    color: #FFFFFF;
}

.carousel-next {
    transition: background-color 0.4s ease-out;
    height: 70px;
    width: 70px;
    border-radius: 35px;
    right: 0;
    margin-right: 2vw;
    font-weight: bold;
    color: #FFFFFF;
}

.carousel-next:hover {
    background-color: rgb(0 129 204 / 0.7);
    color: #FFFFFF;
}


.carousel_section {
    height: 500px;
}


/*Movie Pop-Up*/

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 70vw;
    min-height: 30vh;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    background-color: rgba(5, 24, 33, 0.8);
    background-image: linear-gradient(135deg, rgba(5, 24, 33, 0.8) 23%, #209cd5 100%);
    border-radius: 30px;
    display: flex;
}

#modalLeftColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 30%;
}

#modalRated,
#modalPublished,
#modalDuration{
    font-family : "Roboto"  , sans-serif;
}

#modalLeftColumn img{
    flex-grow: 1;
    flex-basis: 100%;
    max-width: 240px;
    max-height: 320px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
}
#modalImdbScore{
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    color: black;
    padding: 3px 8px 3px 8px;
    border-radius: 4px;
    background-color: #f4c519;

}


#modalRightColumn{
    min-width: 70%;
    display: flex;
    flex-direction: column;

}
#modalTitle {
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

#modalRightColumn > p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 20px;
}

.close {
    position: absolute;
    top: 10px;
    right: 30px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover {
    color: red;
}

